.blog {
  margin: 0 18rem;
  @media screen and (max-width: 600px) {
    margin: 0 1rem;
  }
  &-title {
    text-align: center;
    font-family: "Julius Sans One";
  }
}
.blog-post {
  margin: 0.5rem 1rem;
  &-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Julius Sans One";
    margin: 0.5rem 0;
  }
  &-content {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    p {
      margin: 0;
    }
  }
  &-linebreak {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(
      radial,
      50% 50%,
      0,
      50% 50%,
      350,
      from(#000),
      to(#fff)
    );
  }
  &-date {
    font-size: 0.75rem;
    margin: 0 0 .75rem 0;
  }
}
