.home {
  margin: 0 2rem;
  @media screen and (max-width: 600px) {
      margin: 0 1rem;
    }
  &-title {
    font-family: 'Julius Sans One';
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
  }
  &-image {
    display: block;
    margin: auto;
    max-width: 36rem;
    @media screen and (max-width: 600px) {
      max-width: 18rem;
    }
  }
  &-content {
    margin: 0 12rem;    
    font-size: .75rem;
    @media screen and (max-width: 600px) {
      margin: 0 1rem;
    }
  }
}