.home {
  margin: 0 25rem;
  @media screen and (max-width: 1100px) {
    margin: 0 8rem;
  }
  @media screen and (max-width: 600px) {
      margin: 0 1rem;
    }
  &-title {
    font-family: 'Julius Sans One';
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
  }
  &-image {
    display: block;
    margin: auto;
    max-width: 36rem;
    @media screen and (max-width: 1100px) {
    max-width: 25rem;
  }
    @media screen and (max-width: 600px) {
      max-width: 19rem;
    }
  }
  &-content {
    font-size: .75rem;
    @media screen and (max-width: 600px) {
      margin: 1rem 1rem;
    }
  }
}